img {
  height: 10vw;
  width: calc(100vw / 6);
}

@include breakpoint(sm) {
  img {
    height: 40vw;
    width: 100vw;
  }
}

@include breakpoint(md) {
  img {
    height: 20vw;
    width: calc(100vw / 3);
  }
}
