.slider {
  &__sliders-container {
    display: flex;
    position: relative;
    text-align: center;
  }

  &__arrow-left {
    color: $arrow-color;
    cursor: pointer;
    font-size: $arrow-size;
    left: 15px;
    position: absolute;
    top: 10%;
  }

  &__arrow-right {
    color: $arrow-color;
    cursor: pointer;
    font-size: $arrow-size;
    position: absolute;
    right: 15px;
    top: 10%;
  }

  // &__arrow-left {
  //   color: $arrow-color;
  //   cursor: pointer;
  //   font-size: $arrow-size;
  //   left: 15px;
  //   position: fixed;
  //   top: 10%;
  // }

  // &__arrow-right {
  //   color: $arrow-color;
  //   cursor: pointer;
  //   font-size: $arrow-size;
  //   position: fixed;
  //   right: 15px;
  //   top: 10%;
  // }
}
